version: '3.8'

services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: next-app
    ports:
      - '3000:3000'
    depends_on:
      minio:
        condition: service_started
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/actilearn
      - S3_ENDPOINT=http://minio:9000
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_BUCKET_NAME=actilearn
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - '127.0.0.1:27017:27017'
    volumes:
      - mongodb-data:/data/db
    networks:
      - app-network

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - '127.0.0.1:9000:9000'
      - '127.0.0.1:9001:9001'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ':9001'
    volumes:
      - minio-data:/data
    networks:
      - app-network

volumes:
  mongodb-data:
  minio-data:

networks:
  app-network:
    driver: bridge
