version: '3.8'

services:
  next-app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: next-app-dev
    ports:
      - '3000:3000'
    volumes:
      # Mount the entire project directory
      - .:/app
      # Prevent host node_modules from overwriting container's node_modules
      - /app/node_modules
    depends_on:
      db-migrate:
        condition: service_completed_successfully
      minio:
        condition: service_started
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://user:password@postgres:5432/db
      - S3_ENDPOINT=http://minio:9000
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_BUCKET_NAME=actilearn
    networks:
      - app-network

  db-migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    depends_on:
      postgres:
        condition: service_healthy
    command: npm run db:migrate
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/db
    networks:
      - app-network

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - '127.0.0.1:${POSTGRES_PORT}:5432' # Using default 5432 for dev
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d db']
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - '127.0.0.1:9000:9000'
      - '127.0.0.1:9001:9001'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ':9001'
    volumes:
      - minio-data:/data
    networks:
      - app-network

volumes:
  postgres-data:
  minio-data:

networks:
  app-network:
    driver: bridge
