@import 'tailwindcss';
@import '@heroui/styles';

:root,
.dark,
.default,
[data-theme='dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(81.66% 0.0909 277.31);
  --accent-foreground: oklch(15% 0.0182 277.31);
  --background: oklch(12% 0.02 277.31);
  --border: oklch(28% 0.02 277.31);
  --danger: oklch(59.4% 0.2046 27.45);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.02 277.31);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.04 277.31);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(70.5% 0.04 277.31);
  --focus: oklch(81.66% 0.0909 277.31);
  --foreground: oklch(87.866% 0.04266 272.281);
  --muted: oklch(70.5% 0.04 277.31);
  --overlay: oklch(21.03% 0.04 277.31);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0.02 277.31);
  --segment: oklch(39.64% 0.02 277.31);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0.02 277.31);
  --success: oklch(73.29% 0.2012 153.63);
  --success-foreground: oklch(21.03% 0.0059 153.63);
  --surface: oklch(21.03% 0.04 277.31);
  --surface-foreground: oklch(99.11% 0 0);
  --warning: oklch(82.03% 0.1444 79.16);
  --warning-foreground: oklch(21.03% 0.0059 79.16);

  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-glacial-regular);
}
